.bg-pattern {
	background: url("res/background-pattern.png");
	background-repeat: repeat;
}

.btn {
	white-space: normal;
}

.footer {
	margin-top:64px;
	padding-bottom:10px; 
	padding-top:20px;
}

.git-image {
	width:10%; 
	max-width:90px; 
	min-width:40px
}

.github-image {
	display:block;
	margin:auto;
	width:6%; 
	max-width:60px; 
	min-width:20px;
}

.full-width {
	width:100%;
}



.responsive-font-size {
	font-size: 20px;
}
.responsive-padding {
	margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
	.responsive-font-size {
		font-size: 36px;
	}
	.responsive-padding {
		margin-bottom: 10px;
	}
}



.btn-info {
  background-color: #a6240c;
  border-color: #a6240c;
}
.btn-info:focus,
.btn-info.focus {
  background-color: #F04F32;
  border-color: #a6240c;
}
.btn-info:hover {
  background-color: #F04F32;
  border-color: #a6240c;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: #f37059;
  border-color: #f37059;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  background-color: #f37059;
  border-color: #f37059;
}

.btn-link {
  color: #a6240c;
}

.btn-link:hover,
.btn-link:focus {
  color: #F04F32;
}